<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>com.mmc.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>com.mmc.servlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>managerservlet</servlet-name>
    <servlet-class>com.mmc.servlet.ManagerServlet</servlet-class>
  </servlet>
  <servlet>
	<servlet-name>candidate_servlet</servlet-name>
	<servlet-class>com.mmc.servlet.CandidateServlet</servlet-class>
  </servlet>  
  <servlet>
	<servlet-name>recruiter_servlet</servlet-name>
	<servlet-class>com.mmc.servlet.RecruiterServlet</servlet-class>
  </servlet>
    <servlet>
	<servlet-name>newsservlet</servlet-name>
	<servlet-class>com.mmc.servlet.NewsServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>managerservlet</servlet-name>
    <url-pattern>/managerservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>candidate_servlet</servlet-name>
	<url-pattern>/candidate_servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>recruiter_servlet</servlet-name>
	<url-pattern>/recruiter_servlet</url-pattern>
  </servlet-mapping>
  
    <servlet-mapping>
	<servlet-name>newsservlet</servlet-name>
	<url-pattern>/newsservlet</url-pattern>
  </servlet-mapping>
  
  
    <filter>
<filter-name>encoding</filter-name>
<filter-class>
com.mmc.util.FilterEncoding
</filter-class>
<init-param>
<param-name>encoding</param-name>
<param-value>UTF-8</param-value>
</init-param>
</filter>
<filter-mapping>
	<filter-name>encoding</filter-name>
	<url-pattern>/*</url-pattern>
</filter-mapping>
  
</web-app>
